/**
 * @desc 组件演示 - {{componentName}}
 * @author {{author}}
 * @date {{date}}
 */

import "./index.less";
import React from "react";
import { render } from "react-dom";
import {{componentName}} from "@components/{{componentName}}";

class Preview{{componentName}} extends React.Component {

  constructor(props) {
    super(props);
  }

  componentDidMount() {

  }

  render() {
    return (
      <div className="{{previewClassName}}">
        <h1>{{componentName}}</h1>
        <div className="inner">
          <{{componentName}} />
        </div>
      </div>
    )
  }
}

render(<Preview{{componentName}} />, document.getElementById("app"));

if (module.hot) {
  module.hot.accept();
}